body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator{
  height: 400px;
  width: 250px;
  margin: 10px;
}

.calculator-body{
  height: 100%;
}

.screen{
  height: 25%;
}

.keypad{
  display: flex;
  width: 100%;
  height: 75%;
  border-left: solid 1px;
  border-top: solid 1px;
  box-sizing: border-box;
  border-color: #921429;
}

.numbers{
  width: 100%;
}

.numbers-btn-row{
  display: flex;
  height: 20%;
}

.keypad div[type="button"]{
  text-align: center;
  line-height: 2;
  cursor: pointer;
  border-bottom: solid 1px;
  border-right: solid 1px;
  width: 25%;
  border-color: #921429;
}

.keypad div[btn-type="op"]{
  background-color:#d12c4d;
  color: white;
}

.keypad div[btn-type="func"]{
  background-color:#d12c4d;
  color: white;
}

.btn-text{
  margin: auto;
}

.screen-row{
  height: 50%;
  text-align: right;
  background-color: #433437;
}

.screen-row p{
  margin: 0;
  color: white;
  font-size: xx-large;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}



/*SPA css*/
html, body, #root, .main{
  height: 100%;
  font-family: sans-serif;
}

body{
  background-color: #FFCC00;
}

.app-header{
  background-color: black;
  color: white;
  height: 60px;
}

.app-header .link-div{
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

.app-header .active .link-div{
  background-color: blue;
}

.app-content{
  max-height: calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 20px 20px 0 20px;
  overflow: auto;
  box-sizing: border-box;
}

.home-view{
  background-color: white;
  padding: 0 10px 10px 10px;
}

.user-list{
  display: flex;
  flex-flow: wrap;
}

.user-card{
  border: solid 1px white;
  border-radius: 5px;
  height: 150px;
  width: 300px;
  position: relative;
  background-color: rebeccapurple;
  color: white;
  font-family: "lucida sans unicode";
  padding: 10px;
  margin: 5px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.user-card:hover{
  opacity: 0.3;
}

.user-card:hover .message-btn{
  opacity: 1;
}

.message-btn{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.user-input input{
  margin: 0 5px 0 5px;
}

.user-card-title{
  display: flex;
}
